@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Gabriela&family=Holtwood+One+SC&display=swap');

body {
    background-color: #273E47;
    background-image: url(../images/mainbackground.png);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Fustat", sans-serif;
    list-style: none;
    color: #EEE7D3;
    font-size: 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#logo {
    width: 5%;
    margin-left: 2%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.nav-links a {
    display: block;
    position: relative;
    padding: 5px;
    margin: 0 20px;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.nav-links a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #C36732;
    transition: 0.2s ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.nav-links a:hover::before{
    transform: scale3d(1,1,1);
  }

.nav-links a:hover {
    letter-spacing: 10px;
    color: #C36732;
}

.login-btn {
    background-color: #A4243B;
    padding: 10px 40px;
    font-size: 1.2rem;
    margin-right: 2%;
    transition: all 0.2s;
}

.login-btn:hover {
    transform: scale(1.05);
    background-color: #EEE7D3;
    color: #A4243B;
}

.login-btn:active {
    transform: scale(0.95);
    background-color: #861d30;
    color: #EEE7D3;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container{
    background-image: url(../images/Frame.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 30px 20px;
    column-gap: 30px;

}

.container img {
    height: 200px;
    transform-origin: right bottom;
}
.paragraphe{
    text-align: left;
    height: 90%;
    width: 50%;
    padding: 10px;
}
.section2 {
    column-gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    row-gap: 10px;
    width: 90%;
}

.p{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #6c2e09;
    background-image: url(../images/p.jpg);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
    width: 38%;
    margin-top: 20px;
}
.paragraphe h1{
    margin-bottom: 10px;
    margin-top: -80px;
    color: #A4243B;
    font-size: 30px;
}
.paragraphe p{
    color:#EEE7D3;
    font-size: 20px;
}
.p-information{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.p-information h1{
    justify-content: left;
    font-size: 30px;
    color: #A4243B;
}
.p-information h2{
    justify-content: left;
    font-size: 20px;
    color: #EEE7D3;
}
.p-information h3{
    color: #273E47;
}

.p-image{
    background-color: #273E47;
    height: 112px;
    width: 110px;
}
.p-image img {
    width: 100%;
    height: 100%;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section{
    animation: slideInLeft 0.8s ease forwards;
    opacity: 0;
    transform: translateX(-100%);
}

.nav-bar{
    animation: slideInLeft 0.8s ease forwards;
    opacity: 0;
    transform: translateX(-100%); 
}

  @keyframes rotation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
  }

  .mg{
    animation: rotation  0.5s forwards linear;
    animation-delay: 1.2s;
    transition-delay: 1s;
  }

  footer {
    margin-top: 20ch;
    background-color: #273E47;
    background-image: url("../images/footerbg.png");
    background-blend-mode: hard-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5ch;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.logofooter {
    width: 15%;
    margin-left: 2%;
}

.footer-left,
.footer-mid,
.footer-right {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}

.footer-left p {
    font-family: "Gabriela", "sans-serif";
    padding-top: 10px;
    font-size: 1rem;
}

.footer-left {
    max-width: 30%;
}

.footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-mid h2 {
    font-size: 2rem;
    font-family: "Gabriela", "sans-serif";
    font-weight: normal;
    text-align: center;
    color: #C36732;
}

.footer-mid ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1ch;
    padding: 0;
    margin: 0;
}

.footer-mid ul li {
    padding-top: 1.5ch;
    text-align: center;
    width: 100%;
}

.footer-mid ul li a {
    font-family: "Gabriela", "sans-serif";
    font-weight: light;
    transition: all 0.2s ease;
    display: block;
}

.footer-mid ul li a:hover {
    color: #C36732;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    max-width: 30%;
}

.footer-right h2 {
    font-size: 2rem;
    font-family: "Gabriela", "sans-serif";
    font-weight: normal;
    text-align: center;
    color: #C36732;
    padding-bottom: 1ch;
}

.footer-right p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 10px;
    padding-top: 10px;
    font-family: "Gabriela", "sans-serif";
    font-weight: light;
    max-width: 100%;
}

.footer-right p i {
    font-size: 1.2rem;
    color: #EEE7D3;
}

@media (max-width: 1228px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left,
    .footer-mid,
    .footer-right {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer-mid ul {
        align-items: center;
        padding: 0;
    }

    .footer-mid ul li {
        width: 100%;
        text-align: center;
    }
    .container{
        width: 700px;
        height: 250px;
    }
    .p{
        width: 70%;
    }
    .paragraphe{
        width:50% ;
        height: 47px;
    }
}


  @media (max-width: 739px) {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        grid-auto-rows: 1fr 1fr;
        width: 370px;
        height: 400px;
    }
    .mg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 108px;
    }
    .container img {
        height: 110px;
    }
    .paragraphe {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        width: 300px;
        padding: 10px;
    }
    .paragraphe h1{
        font-size: 30px;
        text-align: center;
    }
    .p{
        width: 20%;
    }
    .paragraphe p{
        font-size: 20px;
        text-align: center;
    }
    .p{
        width: 80%;
    }
    .p h1{
        font-size: 22px;
    }
    .p h2{
        font-size: 15px;
    }
    .p h3{
        font-size: 10px;
    }
  }
 