body {
    background-color: #273E47;
    background-image: url(../images/mainbackground.png);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container {
    background-image: url(../images/Frame.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 30px 20px;
    column-gap: 30px;

}

.container img {
    height: 200px;
    transform-origin: right bottom;
}

.paragraphe {
    text-align: left;
    height: 90%;
    width: 50%;
    padding: 10px;
}

.section2 {
    column-gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    row-gap: 10px;
    width: 90%;
}

.p {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #6c2e09;
    background-image: url(../images/p.jpg);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
    width: 38%;
    margin-top: 20px;
}

.paragraphe h1 {
    margin-bottom: 10px;
    margin-top: -80px;
    color: #A4243B;
    font-size: 30px;
}

.paragraphe p {
    color: #EEE7D3;
    font-size: 20px;
}

.p-information {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.p-information h1 {
    justify-content: left;
    font-size: 30px;
    color: #A4243B;
}

.p-information h2 {
    justify-content: left;
    font-size: 20px;
    color: #EEE7D3;
}

.p-information h3 {
    color: #273E47;
}

.p-image {
    background-color: #273E47;
    height: 112px;
    width: 110px;
}

.p-image img {
    width: 100%;
    height: 100%;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section {
    animation: slideInLeft 0.8s ease forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes rotation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.mg {
    animation: rotation 0.5s forwards linear;
    animation-delay: 1.2s;
    transition-delay: 1s;
}


@media (max-width: 1228px) {

    .container {
        width: 700px;
        height: 250px;
    }

    .p {
        width: 70%;
    }

    .paragraphe {
        width: 50%;
        height: 47px;
    }
}


@media (max-width: 739px) {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        grid-auto-rows: 1fr 1fr;
        width: 370px;
        height: 400px;
    }

    .mg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 108px;
    }

    .container img {
        height: 110px;
    }

    .paragraphe {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        width: 300px;
        padding: 10px;
    }

    .paragraphe h1 {
        font-size: 30px;
        text-align: center;
    }

    .p {
        width: 20%;
    }

    .paragraphe p {
        font-size: 20px;
        text-align: center;
    }

    .p {
        width: 80%;
    }

    .p h1 {
        font-size: 22px;
    }

    .p h2 {
        font-size: 15px;
    }

    .p h3 {
        font-size: 10px;
    }
}