body {
    background-color: #273E47;
    background-image: url(../images/mainbackground.png);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
}


section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE7D3;
    flex-wrap: wrap;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.layout {
    width: 1000px;
    margin: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: #BD632F;
    background-image: url(../images/p.jpg);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
}

.accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
    color: aliceblue;
}

.pp:after {
    content: "\002B";
}

.accordion[open] .pp:hover {
    content: "\00D7";
}

.accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1D2E35;
    background-color: #EEE7D3;
    background-image: url(../images/p.jpg);
    background-position: right;
    background-blend-mode: screen;
    background-repeat: repeat-y;
}


.accordion:hover {
    cursor: pointer;
}

.accordion__answer {
    display: none;
}

.accordion.active .accordion__answer {
    display: block;
}

span {
    color: #A4243B;
    font-size: large;
}


@keyframes slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes accordslide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes accordslideback {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-10%);
        opacity: 1;
    }
}

section {
    animation: slide 0.8s ease forwards;
    opacity: 0;
    transform: translateX(-100%);
}


@keyframes rotation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.accordion__answer {
    animation: rotation 0.5s forwards linear;
    animation-delay: 0s;
    transition-delay: 1s;
}

@media (max-width :1024px) {
    h1 {
        font-size: 34px;
    }

    .layout {
        width: 700px;
    }

    .accordion__question {
        height: 58px;
    }
}

@media (max-width:730px) {
    h1 {
        font-size: 28px;
    }

    .layout {
        width: 500px;
    }

    .accordion__question {
        height: 70px;
    }
}

@media (max-width:534px) {
    h1 {
        font-size: 20px;
    }

    .layout {
        width: 370px;
    }

    .accordion__question {
        height: 80px;
    }
}