footer{
    margin-top: 25ch;
    background-color: #273E47;
    background-image: url("../images/footerbg.png");
    background-blend-mode: hard-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 5ch;
}

.logo{
    width: 20%;
    margin-left: 2%;
}

.footer-left{
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.footer-left p{
    font-family: "Gabriela", "sans-serif";
    padding-top: 10px;
    font-size: 1rem;
    max-width: 50%;
}

.footer-mid{
    display: flex;
    flex-direction: column;
}

.footer-mid ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 1ch;
}

.footer-mid ul li{
    padding-top: 1.5ch;
}

.footer-mid ul li a{
    font-family: "Gabriela", "sans-serif";
    font-weight: light;
    transition: all .2s ease;
}

.footer-mid ul li a:hover{
    color: #C36732;
}

.footer-right h2{
    padding-bottom: 1ch;
}

.footer-right p{
    padding-top: 10px;
    font-family: "Gabriela", "sans-serif";
    font-weight: light;
}