
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Gabriela&family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

 /*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Style de body  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
body {
    background-color: #273e4788;
    background-image: url("../images/mainbackground.png");
    background-position: center;
    background-blend-mode: screen;
}
 /*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Style de la Section 1 , 2 , 3 , et 4 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
 .imgTacos{
    width: 1025px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:25px;
    margin-left:115px;
 }
 .imgTacos h1{
    font-family:Holtwood One SC;
    font-size:25px;
    color:#C36732
 }
.imgTacos img{
      width: 50%;
      height: 40px;
      align-self: center;  
      margin-left:40px;
}
 .Tacos{
      width:92%;
      display:flex;
      justify-content:center;
      gap:60px;
      margin:30px 50px;
      transition: all .2s;
 }
 .Tacos div{
    width:300px;
    height: 400px;
    background-color: #EEE7D3;
    align-self: center;
    border: 1px solid black;
    transition: all .2s;
}
.Tacos div img{
    width:295px;
    height: 200px;
    align-self: center;
    padding:0px;
    transition: all .2s;   
    margin-left:2px;
    margin-top: 2px; 
}
.Tacos div h1 {
    font-family:Gabriela;
    color:#C36732;
    font-size:20px;
    text-align: center;
    padding-top: 10px;
    transition: all .2s;
}
.Tacos div h3 {
    font-family:Gabriela;
    color:black;
    font-size:18px;
    text-align: center;
    padding-top: 10px;
    transition: all .2s;
}
.Tacos div button {
    width:297px;
    height:35px;
    font-family:Gabriela;
    color:rgb(216, 200, 200);
    font-size:15px;
    text-align: center;
    margin-top:40px;
    margin-left: 1px;
    background-color: #861d30;
    border-style:none;
    transition: all .2s;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% CSS du 5ieme section  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.fritback img{
    height:455px;
    width: 500px;
}
.qsmfrit{
    display:flex;
    justify-content: center;
    gap:20px;
    margin-right:5px;
    margin-top: 25px;
}
.frittes{
    height:455px;
    width: 500px;
    background-color:#C36732;
}
.frittes h1{
      font-size:50px;
      margin:10px;
}
.input1{
    display:flex;
    font-size:25px;
    margin-top:20px;
    margin-left:20px;
    font-family:Gabriela;
    gap:20px;

}
.input1 input{
    height: 25px;
    width: 25px;
}
.sauce button{
    height: 50px;
    width: 493px;
    background-color: #861d30;
    margin-top:85px;
    margin-left:4px;
    font-size: 23px;
    font-family:Gabriela;
    transition: all .2s;
    border-style:none;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Animation  CSS   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.Tacos :hover { 
     transform: scale(1.08);
}
.element1 button:hover{
    background-color: #C36732;
}
.sauce button:hover{
    background-color: #baa192;
    color:black;
}


