@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Gabriela&family=Holtwood+One+SC&display=swap');

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background-color: #273E47;
    background-image: url("../images/loginregisterbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-blend-mode: overlay;
    margin: 8px;
    padding:auto;
    height: 90vh;
}

.sign-section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
    animation: slideInTop 0.4s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-100%);
}

h1{
    padding-top: 2.5ch;
    font-family: "Gabriela", "sans-serif";
    font-size: 2.5rem;
    font-weight: normal;
    margin: auto;
}

h2{
    padding-top: 1ch;
    font-family: "Gabriela", "sans-serif";
    font-size: 2rem;
    font-weight: normal;
    margin: auto;
}

h3{
    padding-top: 1ch;
    font-family: "Fustat", "sans-serif";
    font-size: 1.5rem;
    font-weight: normal;
    margin: auto;
}

.sign-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.sign-input{
    width: 20vw;
    height: 5vh;
    margin-top: 1ch;
    font-size: 1.2rem;
    background-color: transparent;
    border: 0px;
    border-bottom: 8px solid #EEE7D3;
    transition: all .2s;
}

.sign-input:focus{
    border-bottom: 8px solid #A4243B;
}

.sign-input::placeholder{
    color: #EEE7D3;
    font-weight: lighter;
}

.btn-sign{
    margin-top: 60px;
    padding: 10px 13ch;
    background-color: #A4243B;
    color: #EEE7D3;
    font-size: 1.2rem;
    border: none;
    transition: all .2s;
}

.btn-sign:hover{
    transform: scale(1.05);
    color: #A4243B;
    background-color: #EEE7D3;
}

.btn-sign:active{
    transform: scale(0.95);
    background-color: #d1cab8;
}